<aside class="sidebar" [class.collapsed]="isCollapsed">
    <div class="logo">
    <img *ngIf="!isCollapsed" src="../assets/images/logo-proHire.png" alt="logo" />
    <img *ngIf="isCollapsed" src="../assets/images/logo_short.png" alt="logo" />
    </div>
    <nav>
      <ul>
        <li>
          <a href="/admin" class="menu-item">
            <i class="bi bi-house-door"></i>
            <span *ngIf="!isCollapsed">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/candidate-management" class="menu-item">
            <i class="bi bi-people"></i>
            <span *ngIf="!isCollapsed">Candidates</span>
          </a>
        </li>
        <li>
          <a href="/job-management" class="menu-item">
            <i class="bi bi-briefcase"></i>
            <span *ngIf="!isCollapsed">Jobs</span>
          </a>
        </li>
        <!-- <li>
          <a href="#" class="menu-item">
            <i class="bi bi-person"></i>
            <span *ngIf="!isCollapsed">Profile</span>
          </a>
        </li> -->
        <li>
            <a href="#" class="menu-item">
              <i class="bi bi-gear"></i>
              <span *ngIf="!isCollapsed">Settings</span>
            </a>
          </li>
        <li>
          <a href="#" class="menu-item">
            <i class="bi bi-info-circle"></i>
            <span *ngIf="!isCollapsed">About</span>
          </a>
        </li>
        
        <li>
          <a href="#" class="menu-item">
            <i class="bi bi-box-arrow-right"></i>
            <span *ngIf="!isCollapsed">Logout</span>
          </a>
        </li>
      </ul>
    </nav>
    <button class="toggle-btn" (click)="toggleSidebar()">
      <i class="bi" [ngClass]="isCollapsed ? 'bi-chevron-right' : 'bi-chevron-left'"></i>
    </button>
  </aside>
  